body {
background-color: #151A25;
font-family: 'Open Sans', sans-serif;
}
.jumbotron {
    background-color: #11151D !important;
    width: 850px;
    height: 700px;
    left:0; right:0;
    top:50px; bottom:0;
    margin:auto !important;
    margin-top: 50px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
}

/* lable color #757575 */
.md-form.md-outline input[type=text]{
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #2F3A52;
    -webkit-border-radius: 4px;
    border-radius: 0px;
    background-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
table{
    margin-left: 150px;
    
}
table td {
    border: 6px solid #11151D;
    padding: 6px ;
    background-color: #151A25;
    font-size: 20px;
    color: #3BAB35;
    text-align: center;
  }

.md-form.md-outline input[type=text]:focus:not([readonly]) {
    border-color: #4F37C3;
    -webkit-box-shadow: inset 0 0 0 1px #4F37C3;
    box-shadow: inset 0 0 0 1px #4F37C3;
}

.example{
    color: #2F3A52;
    font-size: 15px;
}

.output{
    color: #3BAB35;
    font-size: 20px;
}

label {
    color: #2F3A52 !important;
    font-size: 15px !important;

}

.form-control:focus {
    color: #3BAB35;
    border-color: #4F37C3;
}

.md-form input[type=text]:focus:not([readonly])+label{
    color: #4F37C3 !important;
    background-color: #11151D;
}

h1, p{
    color: #4F37C3;
    font-family: 'Open Sans', sans-serif;
}

.btn-outline-white {
    border: 2px solid #2F3A52!important;
    background-color: transparent!important;
    color: #2F3A52!important;
}

.btn-outline-white:hover {
    border: 2px solid #4F37C3!important;
    background-color: transparent!important;
    color: #4F37C3!important;
}

footer.page-footer a {
    color: #4F37C3;
    text-decoration: none;
}
footer.page-footer a:hover{
    color: #2F3A52;
    text-decoration: none;
}
.contactInfo i {
    margin-left: 15px;
}
