body {
background-color: #151A25;
}
.jumbotron {
    background-color: #11151D !important;
    width: 800px;
    height: 550px;
    left:0; right:0;
    top:50px; bottom:0;
    margin:auto !important;
    margin-top: 50px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
}

h1, p{
    color: #4F37C3;
}

.btn-outline-white {
    border: 2px solid #4F37C3!important;
    background-color: transparent!important;
    color: #4F37C3!important;
}

footer.page-footer a {
    color: #4F37C3;
    text-decoration: none;
}
footer.page-footer a:hover{
    color: #4E57CF;
    text-decoration: none;
}
.contactInfo i {
    margin-left: 15px;
}
